nginx/diploma-frontend/node_modules
nginx/diploma-frontend/package-lock.json
nginx/diploma-frontend/npm-debug.log
nginx/diploma-frontend/.angular

.git

mediafiles/

venv/

*DS_store
*dump.rdb
db.sqlite3
